/**
 * demo stylesheet
 * Author : iceStone <ice@wedn.net>
 * Created : 2015-08-31 14:42:55
 * Modified : 2015-08-31 14:43:14
 * Copyright © 2015 Micua.com. All Rights Reserved.
 */
main {
    & > .cover-section:nth-child(1) {
        background-color: #e8e7a7;
    }

    & > .cover-section:nth-child(2) {
        background-color: #ff7a8a;
    }

    & > .cover-section:nth-child(3) {
        background-color: #debe9b;
    }
}

// <span style="width: 60px; background-color:#2D484D"></span>
// <span style="width: 60px; background-color:#5F666E"></span>
// <span style="width: 60px; background-color:#FF7A8A"></span>
// <span style="width: 60px; background-color:#DEBE9B"></span>
// <span style="width: 60px; background-color:#E8E7A7"></span>
