/**
 * footer component
 * Author : iceStone <ice@wedn.net>
 * Created : 2015-08-31 14:42:55
 * Modified : 2015-08-31 14:43:14
 * Copyright © 2015 Micua.com. All Rights Reserved.
 */
footer {

    // display: table;
    // height: 10rem;
    // width: 100%;
    // & > .inner{
    //     display: table-cell;
    //     vertical-align: middle;
    // }

    & > .top {

        // height: 10rem;
        padding: 2rem;

        .share {
            margin-top: 2rem;
            text-align: center;

            a {
                display: inline-block;
                background-color: #ccc;
                font-size: 1.5rem;
                text-align: center;
                color: #fff;
                width: 2.5rem;
                height: 2.5rem;
                line-height: 2.5rem;
                border-radius: 1.25rem;
                margin-left: 0.5rem;

                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }

    & > .bottom {
        border-top: 0.0625rem solid #ccc;
        height: 2rem;
        line-height: 3rem;

        p {
            font-size: 0.8rem;
            margin-bottom: 0;
        }
    }
}
