/**
 * header component
 * Author : iceStone <ice@wedn.net>
 * Created : 2015-08-31 14:42:55
 * Modified : 2015-08-31 14:43:14
 * Copyright © 2015 Micua.com. All Rights Reserved.
 */

.navbar-micua {
  @extend .navbar-full;
  @extend .navbar-fixed-top;
  .navbar-brand {
    margin-right: 2rem;
    i {
      font-size: 2.1875rem;
      display: inline-block;
      float: left;
      color: $main-color;
    }
    .sub {
      font-size: .8rem;
      float: left;
      line-height: 1.125rem;
      padding-left: .8rem;
      border-left: 0.0625rem solid rgba($nav-fg-color, .5);
      margin-left: .8rem;
      color: rgba($nav-fg-color, .8);
    }
  }
  .navbar-toggler {
    margin-top: .1875rem;
    margin-bottom: .1875rem;
    border-color: #f0f0f0;
    color: #f5f5f5;
  }
  .navbar-nav {
    .nav-item {
      & + .nav-item {
        margin-left: 1rem;
        &::before {
          content: '/';
          margin-right: 1rem;
          color: rgba($nav-fg-color, .3);
        }
      }
      .nav-link {
        color: rgba($nav-fg-color, .9);
        display: inline-block;
        font-size: 1.2rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
      }
      @media (max-width: 767px) {
        float: none;
        & + .nav-item {
          margin-left: 0;
          &::before {
            display: none;
          }
        }
        .nav-link {
          display: block;
        }
      }
    }
    .active > .nav-link,
    .nav-link:hover {
      color: $main-color;
      // @media (max-width: 767px) {
      //   background-color: rgba($nav-bg-color, .6);
      // }
    }
  }
  .form-inline {
    padding-top: .1875rem;
    padding-bottom: .1875rem;
    .form-control {
      background-color: transparent;
      border-color: rgba($nav-fg-color, .4);
      &:focus {
        border-color: darken($main-color, 10%);
        box-shadow: 0 0 .5rem $main-color;
      }
    }
    .btn-secondary-outline {
      border-left: 0;
      border-color: rgba($nav-fg-color, .4);
      &:hover,
      &:active {
        background-color: rgba($nav-fg-color, .1);
      }
    }
  }
  background-color: rgba($nav-bg-color, .4);
  transition: background-color 1s ease,
  padding .5s ease;
  @media (min-width:543px) {
    padding: 1.5rem 1rem;
  }
  @media (max-width:543px) {
    .navbar-toggleable-md {
      margin-top: 1rem;
    }
  }
}

[data-scrolled="true"] {
  .navbar-micua {
    background-color: rgba($nav-bg-color, 1);
    padding: 0.5rem 1rem;
  }
}
