/**
 * stylesheet variable file
 * Author : iceStone <ice@wedn.net>
 * Created : 2015-08-31 14:42:55
 * Modified : 2015-08-31 14:43:14
 * Copyright © 2015 Micua.com. All Rights Reserved.
 */


/*==================================================*
 * color
 *==================================================*/

$main-color: #9ff0cc;

/* #5bc0de #9ff0cc */

// $nav-bg-color: #fff;
// $nav-fg-color: #666;
$nav-bg-color: #373a3c;
$nav-fg-color: #f0f0f0;

/*==================================================*
 * icon
 *==================================================*/

$fonts-path: '../fonts/';
$icons: (logo: '\e900');
